*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
body{
    background-color: #080808;
}
.container
{
    max-width: 80%;
    margin: 0 auto;
}
.navbar
{
    display: flex;
    flex-wrap: wrap;
}
.nav__left h1
{
   color: white;
   
}
.nav__logo
{
    position: relative;
   left: -100px;
   font-weight: 900px;
   font-size: 2rem;
    color: #555;
    height: 20px;
    
    
}
.nav__logo span{
    color: #7d2ae8;
}


.nav__right 
{
    width: 90%;
   
}
.menu
{
    position: relative;
    left: 200px;
}


.nav__right .menu ul
{
    display: flex;
    justify-content: end;
   
    
}

.nav__right .menu ul li
{
    list-style-type: none;
    padding-left: 50px;
}
.nav__right .menu ul li a{
    text-decoration: none;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
    opacity: 100px;
    padding: 10px;
    
}
.nav__right .menu ul li a:hover
{
    color: #7d2ae8;
    border-bottom: 2px solid #7d2ae8;
}
.menu .list__item a.about
{
    color: #7d2ae8;
    border-bottom: 2px solid #7d2ae8;
}

header
{
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    padding: 50px;
    z-index: 100;
}

/* About section */
.about__warapper
{
    display: flex;
    flex-wrap: wrap;
    color: white;
    
    position: relative;
    top: 80px;
}
.about__left
{
    width: 60%;
    font-family: "Poppins", sans-serif;
    
}
.about__left h2 
{
    font-size: 3rem;
    width: 100%;
    font-weight: bolder;
}
.about__left p
{
    width: 80%;
    text-align: justify;
    line-height: 30px;
    font-size: 1.1rem;
    position: relative;
    top: 25px;
}
.about__right
{
    width: 40%;
    position: relative;
    left: 100px;
}
.about__right img
{
    cursor: pointer;
    transition: 2s ease;
}
.about__right img:hover
{
    transform: scale(1.2);
}


/*resume section*/
.education__warapper
{
    position: relative;
    top: 200px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    
    
}

.eudcation__item
{
    width: 50%;
    height: 300px;
    border: 1px solid;
    border-radius: 20px;
    flex-wrap: wrap;
    position: relative;
    

}
.highersecondary
{
    background-color: #ffffff;
    position: relative;
    left: 20px;
    color: black;
    padding: 50px;
}

.Graduation
{
    background-color: #7d2ae8;
    color: black;
    padding: 50px;
}
.duration 
{
    width: 30%;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;

    font-size: 1.1rem;
    font-weight: 900;
    word-spacing: 5px;

}
.gradutaion
{
    width: 30%;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;

    position: absolute;
    right: 50px;
    top: 50px;

    font-size: 1.1rem;
    font-weight: 900;
    word-spacing: 5px;
}
.degree
{
    width: 35%;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;

    position: absolute;
    top: 120px;

    font-size: 1.2rem;
    font-weight: 900;
    word-spacing: 5px;
}
.bca
{
    width: 15%;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;

    position: absolute;
    top: 120px;
    left: 300px;


    font-size: 1.2rem;
    font-weight: 900;
    word-spacing: 5px;
}
.Graduation h3,.highersecondary h3
{
    font-size: 2rem;
    position: absolute;
    top: 175px;
}
.university
{
    position: absolute;
    top: 220px;

    font-size: 1.1rem;
    font-weight: 400;
    word-spacing: 5px;
}

.university i{
    margin-right: 10px;
}

.location
{
    position: absolute;
    top: 250px;

    font-size: 1.1rem;
    font-weight: 400;
    word-spacing: 5px;
}
.location i
{
    margin-right: 10px;
}
.highersecondary .duration , .highersecondary .gradutaion, .highersecondary .degree , .highersecondary .bca
{
    background-color: #7d2ae8;
    color: white;

}
.duration i
{
    position: relative;
    left: -10px;
}

.highersecondary:hover{
    background-color: #7d2ae8;
}

.highersecondary:hover .duration , .highersecondary:hover .gradutaion, .highersecondary:hover .degree , .highersecondary:hover .bca
{
    background-color: white;
    color: black;

}

.heading
{
    color: #7d2ae8;
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 2rem;
    

}
.experience__warapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.experience__title
{
    color: #7d2ae8;
    margin-top: 250px;
    text-align: center;
    font-size: 2rem;
    
}

.experince__details
{
    width: 95%;
    height: 300px;
    background-color: white;
    color: black;
    border-radius: 20px;
    position: relative;
    top: 30px;
    padding: 40px;
   
    
}

.company__details
{
    width: 30%;
    background-color: #7d2ae8;
    position: absolute;
    top: 50px;
    border-radius: 20px;
    display: flex;
}
.company__logo img
{
    border-radius: 50%;
    position: relative;
    left: 5px;
    top: 2px;
}
.company__name
{
    font-size: 1rem;
    position: relative;
    left: 20px;
}
.company__location
{
    font-size: 1rem;
    position: relative;
    left: -140px;
    top: 20px;
}
.experince__details .duration
{
    position: absolute;
    top: 50px;
    right: 40px;
    background-color: #7d2ae8;
    width: 20%;
    font-size: 1rem;
}
.position__name
{
    position: absolute;
    top: 120px;
    font-size: 1.5rem;
}
.experince__items
{
    position: absolute;
    top: 170px;
    font-size: 0.9rem;
    line-height: 30px;
}
.experince__items ul li
{
    list-style-type:"\1F44D";
}
#experince__details--1
{
    background-color: #7d2ae8;
    
}

#experince__details--1 .company__details , #experince__details--1 .duration
{
    background-color: #ffffff;
}



/* Certificate section */
.certificate__warapper
{
    position: relative;
    top: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 60px;
   
    
}
.certificate__title 
{
  
    position: relative;
    top: 200px;
    text-align: center;
    color: #7d2ae8;
    font-size: 2rem;

}
.certificate__details
{
    width: 45%;
    height: 250px;
    background-color: #7d2ae8;
    position: relative;
    top: 80px;
    padding: 50px;
    border-radius: 20px;
}

.platform__name
{
    width: 25%;
    position: absolute;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 5px;
}
.platform__logo img
{
    border-radius: 50%;
    
    position: absolute;
    left: 0;
}
.platform__name p{
    font-size: 1rem;
    font-weight: 900;
}
.certificate__icons
{
    width: 20%;
    position: absolute;
    right: 0px;
    top: 30px;
    padding: 5px;
}


#icons1 
{
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: -10px;
}
.certificate__name
{
    position: absolute;
    top: 100px;
    font-size: 1.5rem;
}
.view_button a
{
    width: 20%;
    background-color: #ffffff;
    position: absolute;
    top: 185px;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 900;
    text-decoration: none;
    color: black;
}
.view_button i
{
    margin-right: 5px;
}

#certificate2 , #certificate3
{
    background-color: #ffffff;
}
#certificate2 .platform__name , #certificate2 .view_button a , #certificate3 .platform__name,#certificate3 .view_button a
{
    background-color: #7d2ae8;
    
}


#skills {
    padding: 50px 0;
    position: relative;
    top: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    color: #7d2ae8;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    width: 48%;
    margin-bottom: 20px;
}

.skill h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.skill-bar {
    background-color: #ddd;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    height: 25px;
}

.skill-level {
    height: 100%;
    background-color: #7d2ae8;
    border-radius: 25px;
    text-align: right;
    line-height: 25px;
    color: white;
    font-weight: bold;
    padding-right: 10px;
}

#skills h3{
    color: white;
}

/* protfolio */
#portfolio {
    padding: 50px 0;
    position: relative;
    top: 300px;
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    color: #7d2ae8;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.portfolio-item {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s;
    flex: 1 1 calc(50% - 20px); /* Two items per row, with a gap */
    margin-bottom: 20px;
    max-width: calc(50% - 20px); /* Ensures two items per row */
    height: 400px;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-item a {
    text-decoration: none;
    color: inherit;
}

.portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.portfolio-item h3 {
    margin: 10px 15px;
    font-size: 20px;
}

.portfolio-item p {
    margin: 10px 15px;
    color: black;
}

#blue
{
    background-color: #7d2ae8;
}

/* contact form */
#contact {
    padding: 50px 0;
    position: relative;
    top: 300px;
}

#contact h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    color: #7d2ae8;
}

#contact p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #7d2ae8;
    padding: 30px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #fff;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: black;
    font-size: 16px;
}

.form-group input::placeholder, .form-group textarea::placeholder {
    color: black;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: white; /* Green button */
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8163a7;
}

/* Footer */
#footer {
    padding: 20px 0;
    background-color:#7d2ae8;
    position: relative;
    top: 300px;
    border-top: 1px solid #7d2ae8;
}

#footer p {
    color: #aaa;
    font-size: 16px;
    margin-top: 20px;
}

.social-media {
    margin-bottom: 20px;
}

.social-media a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #4caf50; /* Hover color change */
}
